*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* Отступ с каждой стороны одним значением */
.forfirstexample {
	background-color: #07ce22;
	font-size: 30px;
	padding: 100px;
	margin: 0px;
	text-align: center;
}
/* Отступ с каждой стороны с разными значениями */
.forsecondexample {
	background-color: #0d62e2;
	font-size: 30px;
	padding: 20px 40px 60px 80px;
	margin: -50px 60px 90px 120px;
	text-align: center;
}
/* Отступ верх + низ, лево + право */
.forthirdexample {
	background-color: #8e3aa3;
	font-size: 30px;
	padding: 50px 100px;
	margin: 0px 120px;
	text-align: center;
}
/* Отступ верх, право+лево, низ */
.forfourexample {
	background-color: #0fb9b1;
	font-size: 30px;
	padding: 80px 30px 100px;
	margin: 0px 100px 150px;
	text-align: center;
}
/* Отступ с одной стороны. С удобством записи и возможностью изменить остальные отступы
 при необходимости */
.forfiveexample {
	background-color: #b80817;
	font-size: 30px;
	padding: 0px 0px 100px 0px;
	margin: 0px 0px 0px 50px;
	text-align: center;
}
/* Прижать объект слева */
.forsixexample {
	background-color: #0a32b6;
	font-size: 30px;
	max-width: 600px;
	max-height: 300px;
	overflow: auto;
	margin: 0px auto 0px 0px;
	text-align: center;
}
/* Прижать объект справа */
.forsevenexample {
	background-color: #daff07;
	font-size: 30px;
	max-width: 600px;
	max-height: 300px;
	overflow: auto;
	margin: 0px 0px 0px auto;
	text-align: center;
}
/* Закрепить объект по центру */
.foreightexample {
	background-color: #04774b;
	font-size: 30px;
	min-width: 600px;
	min-height: 100px;
	margin: 0px auto;
	text-align: center;
}

.image {
	display: block;
	margin: 0px auto;
	padding: 0px 0px 50px 0px;
}

.link {
	font-size: 30px;
	color: #dc143c;
	display: inline-block;
}

.span > span {
	display: block;
	font-size: 30px;
	background-color: #0ae9cb;
}

.inline > div {
	background-color: #b60909;
	display: inline-block;
	width: 200px;
	height: 200px;
	font-size: 25px;
	padding: 15px;
	box-sizing: border-box;
	margin: 0px 0px 20px 0px;
}

.linktwo {
	font-size: 20px;
	background-color: #552fdf;
	display: inline-block;
	margin: 0px 0px 30px 0px;
}

.paragraph > p {
	background-color: #e20cd0;
	font-size: 18px;
	max-width: 100px;
	display: inline-block;
	margin: 0px 30px 50px 0px;
	padding: 10px;
	box-sizing: border-box;
}

.hover1 {
	font-size: 30px;
	background-color: #f17603;
	color: #000000;
	padding: 30px;
	margin: 0px 0px -35px 0px;
}
.hover2 {
	font-size: 30px;
	background-color: #0de24d;
	color: ghostwhite;
	padding: 30px;
}

.scroll {
	font-size: 40px;
	background-color: #0aedf5;
	max-height: 200px;
	max-width: 300px;
	display: block;
	overflow: auto;
}
